.field {
    -fx-pref-height: 30px;
    -fx-font-size: 15px
}

.lbl {
    -fx-font-size: 16px;
    -fx-text-fill: #666;
}

.btn {
    -jfx-button-type: RAISED
}

.btn-icon {
    -fx-background-color: #AAA;
    -fx-background-radius: 5;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-cursor: hand
}