* {
    -fx-font-family: tahoma, arial, "Comic Sans MS"
}

.slider-title {
    -fx-font-size: 35px;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.4), 2, 2, 2, 3);
}

.slider-desc {
    -fx-font-size: 25px;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 2, 2, 2, 3);
}

/* Start card */

.cards {
    -fx-pref-width: 180px;
    -fx-pref-height: 200px;
    -fx-padding: 10px;
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 6, 0, 0, 0);
    -fx-background-radius: 10
}
.cards:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-cursor: hand
}

.cards-title {
    -fx-font-size: 22px;
    -fx-text-fill: #333;
    -fx-text-fill: linear-gradient(from 0 0 to 100px 100px, #2196f3, #333)
}

.cards-desc {
    -fx-text-alignment: center;
    -fx-font-size: 14px;
    -fx-fill: #555
}

/* End card */