/* CRUD (Create, Read, Update, Delete) Forms */

* {
    -fx-font-family: Tahoma, Arial, "Comic Sans MS";
}

.title {
    -fx-font-size: 28px;
    -fx-text-fill: linear-gradient(from 0 0 to 100px 100px, #0f9d58, #5a5a5a)
}

.field {
    -jfx-label-float: true;
    -fx-font-size: 16px;
    -jfx-focus-color: #0f9d58;
    -jfx-unfocus-color: #800;
    -fx-prompt-text-fill: #777;
}

.tgl-btn { /* JFXToggleButton */
    -fx-font-size: 14px;
    -fx-text-fill: #444;
    -fx-padding: -12px 0 -12px -5px;
    -fx-cursor: hand
}

.picker {
    -fx-cursor: hand;

}

.btn {
    -jfx-button-type: RAISED;
    -fx-font-size: 18px;
    -fx-pref-width: 110px;
    -fx-pref-height: 40px;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5;
}

.btn-add { -fx-background-color: #03b372;}

.btn-clear { -fx-background-color: #1170f3;}

.btn-close { -fx-background-color: #ff5559;}

.btn:hover {
    -fx-cursor: hand
}

/* Start JFXSnackBar (toast msg) */

.jfx-snackbar-content {
    -fx-background-color: #ff5559;
    -fx-pref-width: 460
}
.jfx-snackbar-toast {
    -fx-text-fill: #FFF;
    -fx-font-size: 18px;
    -fx-font-family: Tahoma
}

/* End JFXSnackBar (toast msg) */